<header>
    <h1><a href="#profile"><span class="back"><</span></a>Sophie</h1>
</header>
<section>
    <div id="chat-container">
        <div class="chat-msg">
            <div class="chat-bubble-answer">
                <p></p>
            </div>
            <div class="avatar-bubble-answer">
                <img />
            </div>
        </div>
        <div class="chat-msg">
            <div class="chat-bubble-reply">
                <p></p>
            </div>
            <div class="avatar-bubble-reply">
                <img />
            </div>
        </div>
    </div>
    
    <div id="new-msg">
        <textarea placeholder="Write a message" id="reply"></textarea>
    </div>
    
</section>
